<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loy.jdbc.mapper.TestEntityMapper">
    <!--    public Account getAcct(Long id); -->
    <select id="getEntity" resultType="com.loy.jdbc.domain.TestEntity">
        select * from test where  id=#{id}
    </select>
</mapper>