<component name="libraryTable">
  <library name="springAntDemo">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/druid-1.1.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/spring-aop-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/spring-beans-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/spring-context-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/spring-core-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springAntDemo/libs/spring-expression-5.2.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>